@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  html {
    font-family: "Karla", sans-serif;
  }
}
